<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HR-NET ERP" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRNet API</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>HRNet API v.1.0.0</h1>
</body>
<footer><i class="fa fa-copyright" aria-hidden="true">copyright HrNet 2023</i></footer>

</html>